<div id="index-root">
	<div class="panel panel-primary">
		<div class="panel-heading text-center">
			{{title}}
		</div>
		<div class="panel-body">
			<div class="well">
				<a class="btn btn-primary">Novo</a>
				<a class="btn btn-primary">Alterar</a>
				<a class="btn btn-primary">Salvar</a>
			</div>
			<div class="well">
				<form>
					<div class="form-group">
		   				<label>Nome</label>
		   			<input type="text" name="name" class="form-control" />
		   			<div class="form-group">
		   				<label>E-mail</label>
		   			<input type="email" name="email" class="form-control" />
		   		</div>
				</form>
			</div>
		</div>
		<div class="panel-footer text-center">
	       
		</div>
	</div>	
</div>