<!DOCTYPE html>
<html ng-app="mainApp">
  <head>
    <title>NodeJs - MySql</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- AngularJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>  
    <script src="/angular/app.js"></script>
    <script src="/angular/controllers.js"></script>
  </head>
  <body ng-controller="MainController">
    <div class="container">
      {{{body}}}
      }
    </div>
  </body>
</html>