<div id="home-root">
	<div class="panel panel-primary">
		<div class="panel-heading text-center">
			Home
		</div>
		<div class="panel-body">
			Olá {{user.nome}}, você está logado com <b>{{user.email}}</b>			
		</div>
		<div class="panel-footer text-right">
			<a href="/login/logout" class="btn btn-link">Fazer logout</a>
		</div>
	</div>	
</div>