<div id="index-root">
	<div class="panel panel-primary">
		<div class="panel-heading text-center">
			{{title}}
		</div>
		<div class="panel-body">
		   Aplicação simples criada em NodeJs com Express, utilizando o PassportJs para fazer autenticação
		</div>
		<div class="panel-footer text-center">
	       <a href="/login">Fazer login</a>
		</div>
	</div>	
</div>
